body {
   width: 1280px;
   height: 752px;
}
.tab {
	display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5Å`7*/
   width: 310px;
   height: 122px;
   margin : 0px ;
   padding : 0px;
}
.aaa {
	display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5Å`7*/
   height: 122px;
   margin : 0px ;
   padding : 0px;

	
}
.tab_blank{
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5Å`7*/
   width: 5px;
   height: 122px;
   margin : 0px ;
}
.tab_blank2{
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
    /display: inline; /*for ie5Å`7*/
   width: 10px;
   height: 122px;
   margin : 0px ;
}
.main{
    display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block; /*for modern*/
   width: 1280px;
   height: 630px;
   frameborder:0;
   scrolling:no;
}
#main1{
   width: 1280px;
   height: 630px;
   frameborder:0;
   scrolling:no;
   margix:0px;
   padding;0px;
}
